<% include ../partials/header %>
        <div>
            <h2>Name: <%= course.name %></h2>
            <h4>ID: <%= course.id %></h4>
            <p>Code: <%= course.code %></p>
            <img src="<%= course.image %>" alt="">
            <p>Description: <%= course.description %></p>
            <p>Students: <% course.students.forEach(e => { %>
                <p>
                  <%= e.data.username %>  
                </p>
            <% }) %></p>
        </div>
        <div>
            <form action='/courses/<%= course.id %>/edit'>
                <input type="submit" value="EDIT" />
            </form>
            <form action='/courses/<%= course.id %>?_method=DELETE' method='POST'>
                <input type="submit" value="DELETE" />
            </form>
            <% if(!currentUser || currentUser && currentUser.courses.indexOf(course.id) < 0) { %> 
            <form action='/add/<%= course.id %>' method='POST'>
                <input type="submit" value="ENROLL" />
            </form>
            <% } %>
        </div>
<% include ../partials/footer %>